h1 {
    color: blue;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.avwv-R6XCv76pjBJoAGiiwHaE8%26pid%3DApi&f=1") ;
    font-size: 100px;
    text-align: center;

}

p {
    color: gold;
    background-color: blueviolet;
}